/* @theme presentation */

@import 'default';

:root {
    --color-primary: rgb(169, 136, 112);
    --color-secondary: rgb(229, 204, 184);
    --color-h1: white;
    --color-h1-titlepage: black;
    --color-titlepage-bg: rgb(246, 243, 238);
    --color-h2: black;
    --color-h2-background: var(--color-titlepage-bg);
    --color-strong: var(--color-primary);
    --color-footer: rgb(162, 162, 162);
    --color-link: rgb(207, 58, 3);
    --color-mark: rgb(249, 232, 186);
    --color-math: rgb(76, 169, 78);
    --font: Helvetica;
    --font-code: Cascadia Code;
}

h1,
h2,
h3,
h4 {
    font-family: var(--font);
}

p,
ul,
li,
footer,
section::after,
label {
    font-family: var(--font);
}

h1 {
    color: var(--color-h1);
}

h2 {
    color: var(--color-h2);
    position: fixed;
    width: 1280px;
    top: 0px;
    left: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--color-h2-background);
    font-weight: normal;
    text-align: center;
}



h1 strong,
h2 strong,
h3 strong,
h4 strong {
    /* color: var(--color-strong); */
    color: black;
    font-weight: bold;
}

h2 em {
    font-weight: 100;
    font-style: normal;
}

mark {
    background-color: var(--color-mark);
}



section::after,
footer {
    font-size: 15pt;
    color: var(--color-footer);
}

footer a{
    text-decoration: none;
    color: var(--color-footer);
}

a {
    color: var(--color-link);
    font-family: inherit;
    font-size: 100%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}

a:has(code){
    vertical-align: top;
    color: grey;
    text-decoration: none;
}

a:has(code) > code{
    background: none;
}

.katex {
    color: var(--color-math);
    font-size: 110%;
}

.emoji {
    font-size: 120%;
    display: inline;
}

blockquote {
    color: rgb(186, 186, 186);
    border-left: 5px solid rgb(162, 162, 162);
    padding-left: 20px;
}

section {
    padding: 60px;
    padding-top: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 40%;
    align-items: center;
    gap: 50px;
}

section.smaller div {
    font-size: 90%;
}

section div {
    display: inline;
    flex-grow: 1;
    flex-basis: 40%;
}

img {
    display: block;
    margin: auto;
    background-color: transparent;
    max-height: 550px;
}

.logo {
    background-image: url("https://s3.glicid.fr/nuts/workshop-banner.svg");
    background-size: cover;
    position: absolute;
    left: 30px;
    width: 600px;
    bottom: 50px;
    height: 100px;
}

section.titlepage {
    /* text-align: left; */
    color: var(--color-h1-titlepage);
    background-color: var(--color-titlepage-bg);
    /* margin-left: 0px; */
    /* margin-right: 200px; */
    /* vertical-align: center; */
    background-image: url("images/logo/ipgp.png");
    background-size: 1800px;
    background-position-x: 50%;
    background-position-y: 50%;
}

/* section.titlepage div {
    max-width: 80%;
    width: 80%;
    vertical-align: bottom;
} */

section.titlepage h1 {
    color: var(--color-h1-titlepage);
    /* width: 100%; */
}

section.titlepage h2 {
    position: relative;
    padding-left: 0px;
    color: white;
    background-color: transparent;
}

section.titlepage p,
section.titlepage a {
    font-size: 18pt;
    /* color: var(--color-h1-titlepage); */
}

section.titlepage footer {
    color: rgb(23, 13, 13);
}

section.titlepage footer a {
    font-size: 15pt;
}

section.titlepage::after {
    color: transparent;
}

pre,
code {
    font-family: var(--font-code);
}

table {
    font-size: 16pt;
}

blockquote {
    color: var(--color-math);
    border-left: None; 
    padding: 0px; 
    font-weight: 600;
}

blockquote .katex{
    color: var(--color-math);
}
